doctype html
html
  head
    title= RetroCTF
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')

  body
    div.container
      img(src="/images/404.png" alt="Page Not Found")

