extends layout

block content
  .main.container
    .row.justify-content-center
      img(src='/images/retroctf-logo.png' alt='Retro CTF')
    .row
      div.col-lg-4
        div.bs-component
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header
              a(href='/challenge/jump') Jump!
            div.card-body
              p Cause inside-out is wiggity, wiggity, wiggity wack
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header Challenge Title
            div.card-body
              p Challenge details
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header Challenge Title
            div.card-body
              p Challenge details
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header Challenge Title
            div.card-body
              p Challenge details
      div.col-lg-4
        div.bs-component
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header Challenge Title
            div.card-body
              p Challenge details
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header Challenge Title
            div.card-body
              p Challenge details
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header Challenge Title
            div.card-body
              p Challenge details
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header Challenge Title
            div.card-body
              p Challenge details
      div.col-lg-4
        div.bs-component
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header Challenge Title
            div.card-body
              p Challenge details
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header Challenge Title
            div.card-body
              p Challenge details
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header Challenge Title
            div.card-body
              p Challenge details
          div.card.border-primary.mb-3(style='max-width: 20rem')
            div.card-header Challenge Title
            div.card-body
              p Challenge details
