doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')

  body
    div.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
      div.container
        if authenticated
          a.navbar-brand(href='/') Dashboard
          div.collapse.navbar-collapse
            ul.navbar-nav
              if is_admin
                li.nav-item
                  a.nav-link(href='/admin') Admin
              li.nav-item
                a.nav-link(href='/logout') Logout
    div.container
      block content
