doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')

  body
    div.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
      div.container
        if authenticated
          a.navbar-brand(href='/') Dashboard
          div.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item.dropdown.shoW
                a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' id='account') Account
                div.dropdown-menu(aria-labelledby='account')
                  a.dropdown-item(href='/account') Account Settings
                  a.dropdown-item(href='/logout') Logout
              li.nav-item
                  a.nav-link(href='/donate') Donate
              li.nav-item
                  a.nav-link(href='/scoreboard') Scoreboard
    div.container
      block content
