extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign up
        form(method='POST' action='/signup')
          div.form-group
            input.form-control(type='text' id='email' placeholder='Username' name='username' maxlength='64')
          div.form-group
            input.form-control(type='text' id='email' placeholder='Email' name='email' maxlength='128')
          div.form-group
            input.form-control(type='password' id='password' placeholder='Password' name='password')
          div.form-group
            input.form-control(type='password' id='confirmpassword' placeholder='Confirm' name='confirmpassword')
          button.btn.btn-primary(type='submit') Sign Up
          h4(style="color: red;") #{status}