body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#challengeCard {
  width: 20rem;
  height: 10rem;
}

#logo {
  margin: 8px 8px 12px 8px;
}

#newPassDiv {
  margin: 25px 8px 8px 8px;
}

#challengeJumbotron {
  margin: 25px 8px 8px 8px;
}

#donateParagraph {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#donateRow {
  margin: 25px 0px 0px 0px;
}
