body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#challengeCard {
  width: 20rem;
  height: 10rem;
}

#logo {
  margin: 8px 8px 12px 8px;
}
